/* .stars-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1390px 712px #fff, 237px 705px #fff, 1532px 125px #fff, 1754px 1869px #fff,
    388px 267px #fff, 849px 1529px #fff, 505px 1193px #fff, 1972px 916px #fff, 81px 1935px #fff,
    117px 543px #fff, 388px 752px #fff, 317px 534px #fff, 1603px 333px #fff, 465px 1450px #fff,
    917px 1621px #fff, 1164px 1919px #fff, 803px 276px #fff, 162px 1397px #fff, 1348px 1575px #fff,
    1530px 1500px #fff, 1101px 313px #fff, 1708px 934px #fff, 1450px 884px #fff, 1916px 108px #fff,
    1571px 1476px #fff, 1750px 584px #fff, 1994px 1462px #fff, 1409px 1974px #fff, 114px 161px #fff,
    903px 776px #fff, 545px 1706px #fff, 360px 991px #fff, 1185px 450px #fff, 1900px 560px #fff,
    49px 1949px #fff, 870px 1711px #fff, 1664px 943px #fff, 1814px 366px #fff, 924px 767px #fff,
    103px 1304px #fff, 1916px 1606px #fff, 1836px 295px #fff, 1107px 232px #fff, 498px 1356px #fff,
    1698px 1550px #fff, 609px 48px #fff, 448px 1342px #fff, 1848px 685px #fff, 564px 1919px #fff,
    244px 1509px #fff, 956px 357px #fff, 1375px 1853px #fff, 1564px 479px #fff, 1635px 1674px #fff,
    150px 1180px #fff, 986px 426px #fff, 1282px 414px #fff, 856px 1915px #fff, 165px 1119px #fff,
    497px 867px #fff, 477px 1263px #fff, 1176px 266px #fff, 507px 1071px #fff, 678px 1599px #fff,
    1144px 1837px #fff, 1513px 1100px #fff, 37px 888px #fff, 482px 1308px #fff, 786px 1631px #fff,
    1785px 202px #fff, 176px 1389px #fff, 391px 174px #fff, 724px 1195px #fff, 422px 1322px #fff,
    1532px 1013px #fff, 1419px 481px #fff, 1783px 1985px #fff, 15px 1043px #fff, 248px 1785px #fff,
    172px 725px #fff, 1068px 1970px #fff, 797px 1388px #fff, 520px 1913px #fff, 1285px 864px #fff,
    75px 1357px #fff, 489px 927px #fff, 1276px 1687px #fff, 1501px 1032px #fff, 724px 1623px #fff,
    1193px 907px #fff, 917px 111px #fff, 1680px 1481px #fff, 1000px 344px #fff, 1183px 1998px #fff,
    36px 955px #fff, 548px 1333px #fff, 1498px 632px #fff, 291px 729px #fff, 362px 1660px #fff,
    143px 447px #fff, 1262px 1832px #fff, 1795px 1815px #fff, 551px 867px #fff, 19px 1294px #fff,
    826px 1433px #fff, 718px 800px #fff, 735px 1093px #fff, 322px 1195px #fff, 1659px 1977px #fff,
    153px 695px #fff, 194px 725px #fff, 689px 995px #fff, 1682px 1393px #fff, 752px 410px #fff,
    746px 369px #fff, 641px 771px #fff, 1991px 772px #fff, 1768px 956px #fff, 411px 173px #fff,
    42px 1608px #fff, 1842px 1624px #fff, 436px 881px #fff, 1873px 140px #fff, 1063px 693px #fff,
    1719px 645px #fff, 523px 1570px #fff, 471px 1046px #fff, 134px 1539px #fff, 1958px 594px #fff,
    510px 839px #fff, 1228px 410px #fff, 216px 1769px #fff, 825px 142px #fff, 1227px 1246px #fff,
    837px 1756px #fff, 577px 76px #fff, 957px 1737px #fff, 1848px 689px #fff, 1216px 1841px #fff,
    132px 860px #fff, 1825px 1668px #fff, 656px 1035px #fff, 440px 11px #fff, 1873px 929px #fff,
    1104px 952px #fff, 430px 1835px #fff, 1250px 1228px #fff, 1537px 332px #fff, 1236px 663px #fff,
    879px 863px #fff, 953px 69px #fff, 1973px 1709px #fff, 1477px 10px #fff, 130px 479px #fff,
    812px 424px #fff, 1262px 1044px #fff, 1282px 1538px #fff, 1800px 1396px #fff, 931px 1959px #fff,
    1400px 85px #fff, 450px 733px #fff, 1946px 231px #fff, 571px 35px #fff, 1403px 1249px #fff,
    314px 1610px #fff, 279px 11px #fff, 948px 355px #fff, 248px 326px #fff, 1683px 1200px #fff,
    1475px 312px #fff, 1866px 1730px #fff, 1666px 54px #fff, 1052px 97px #fff, 1843px 1471px #fff,
    290px 721px #fff, 1648px 1286px #fff, 548px 1755px #fff, 1499px 1756px #fff, 1736px 1422px #fff,
    1981px 1873px #fff, 965px 1490px #fff, 1231px 1211px #fff, 139px 1873px #fff, 1164px 1495px #fff,
    152px 1747px #fff, 820px 1074px #fff, 1597px 197px #fff, 496px 1922px #fff, 786px 1686px #fff,
    1305px 939px #fff, 1665px 1866px #fff, 1418px 1209px #fff, 1874px 478px #fff, 641px 977px #fff,
    1365px 1812px #fff, 1721px 796px #fff, 1098px 931px #fff, 1403px 1302px #fff, 1493px 422px #fff,
    1723px 1417px #fff, 675px 295px #fff, 110px 891px #fff, 368px 1597px #fff, 216px 125px #fff,
    140px 114px #fff, 1942px 718px #fff, 473px 552px #fff, 1065px 918px #fff, 644px 1899px #fff,
    1228px 1340px #fff, 43px 857px #fff, 568px 572px #fff, 792px 1768px #fff, 1458px 879px #fff,
    1868px 476px #fff, 1922px 285px #fff, 1724px 1874px #fff, 975px 1428px #fff, 1202px 238px #fff,
    1852px 1585px #fff, 894px 104px #fff, 865px 1013px #fff, 1855px 153px #fff, 1589px 1696px #fff,
    1954px 1987px #fff, 1982px 1464px #fff, 1682px 1167px #fff, 47px 1338px #fff, 1798px 1037px #fff,
    1871px 227px #fff, 1046px 274px #fff, 1873px 1062px #fff, 195px 1899px #fff, 1611px 1106px #fff,
    972px 538px #fff, 426px 1219px #fff, 52px 566px #fff, 735px 703px #fff, 238px 780px #fff,
    821px 1429px #fff, 301px 1197px #fff, 266px 494px #fff, 1355px 1037px #fff, 84px 1327px #fff,
    1455px 376px #fff, 90px 126px #fff, 339px 683px #fff, 532px 567px #fff, 1135px 764px #fff,
    109px 1300px #fff, 883px 1203px #fff, 1918px 1618px #fff, 1470px 779px #fff, 1804px 808px #fff,
    1568px 350px #fff, 960px 408px #fff, 1038px 521px #fff, 764px 1738px #fff, 1813px 1748px #fff,
    468px 541px #fff, 1208px 75px #fff, 198px 747px #fff, 720px 1526px #fff, 309px 818px #fff,
    1878px 1757px #fff, 1554px 152px #fff, 1920px 664px #fff, 1979px 1412px #fff, 1152px 1329px #fff,
    1237px 829px #fff, 1221px 70px #fff, 1425px 1687px #fff, 430px 736px #fff, 1937px 1160px #fff,
    1569px 1301px #fff, 626px 1015px #fff, 439px 1521px #fff, 1846px 337px #fff, 8px 318px #fff,
    977px 1151px #fff, 43px 1107px #fff, 1795px 1108px #fff, 861px 1274px #fff, 107px 1479px #fff,
    1563px 71px #fff, 1889px 1417px #fff, 1644px 871px #fff, 791px 1140px #fff, 32px 778px #fff,
    1228px 313px #fff, 1675px 1285px #fff, 797px 443px #fff, 1983px 895px #fff, 1702px 1046px #fff,
    206px 1847px #fff, 832px 771px #fff, 1295px 814px #fff, 1376px 1857px #fff, 344px 426px #fff,
    253px 935px #fff, 687px 935px #fff, 1844px 284px #fff, 271px 1181px #fff, 1202px 330px #fff,
    1873px 1612px #fff, 216px 239px #fff, 1280px 579px #fff, 1047px 643px #fff, 1559px 1668px #fff,
    906px 840px #fff, 1061px 1124px #fff, 595px 1198px #fff, 462px 733px #fff, 1325px 1430px #fff,
    1070px 1972px #fff, 1674px 1487px #fff, 215px 218px #fff, 1601px 389px #fff, 1477px 230px #fff,
    545px 83px #fff, 1139px 1967px #fff, 1284px 1573px #fff, 909px 1327px #fff, 1295px 130px #fff,
    33px 186px #fff, 312px 267px #fff, 1232px 651px #fff, 707px 1016px #fff, 1625px 1451px #fff,
    1706px 436px #fff, 964px 1396px #fff, 857px 792px #fff, 1617px 1762px #fff, 341px 1211px #fff,
    335px 145px #fff, 1935px 49px #fff, 1002px 336px #fff, 1788px 1459px #fff, 59px 658px #fff,
    1315px 1126px #fff, 958px 15px #fff, 1685px 1307px #fff, 1622px 430px #fff, 1912px 1600px #fff,
    307px 1244px #fff, 928px 1656px #fff, 1737px 543px #fff, 858px 1685px #fff, 588px 1171px #fff,
    148px 1316px #fff, 458px 1081px #fff, 867px 620px #fff, 1847px 629px #fff, 886px 1123px #fff,
    1002px 1577px #fff, 933px 1987px #fff, 1557px 1612px #fff, 520px 1292px #fff, 1594px 1588px #fff,
    381px 483px #fff, 1270px 1297px #fff, 111px 687px #fff, 1497px 514px #fff, 1540px 1698px #fff,
    1390px 1487px #fff, 273px 791px #fff, 8px 1138px #fff, 1282px 1114px #fff, 1718px 1612px #fff,
    265px 1736px #fff, 1106px 27px #fff, 643px 470px #fff, 508px 1106px #fff, 1373px 953px #fff,
    148px 1891px #fff, 943px 1632px #fff, 1692px 1664px #fff, 372px 267px #fff, 1234px 184px #fff,
    539px 141px #fff, 921px 1305px #fff, 602px 91px #fff, 1615px 1157px #fff, 501px 1317px #fff,
    1492px 245px #fff, 79px 1363px #fff, 1159px 1473px #fff, 582px 147px #fff, 250px 1389px #fff,
    1780px 1074px #fff, 708px 883px #fff, 706px 845px #fff, 610px 772px #fff, 1450px 331px #fff,
    1625px 87px #fff, 609px 126px #fff, 1368px 1086px #fff, 1608px 692px #fff, 795px 1130px #fff,
    176px 291px #fff, 1953px 1816px #fff, 726px 206px #fff, 1420px 1368px #fff, 99px 1354px #fff,
    1795px 1713px #fff, 1098px 374px #fff, 1704px 1473px #fff, 1722px 1589px #fff,
    1863px 1871px #fff, 895px 414px #fff, 1952px 282px #fff, 167px 1845px #fff, 1550px 290px #fff,
    125px 152px #fff, 1446px 539px #fff, 82px 748px #fff, 1780px 1780px #fff, 452px 1179px #fff,
    919px 1144px #fff, 972px 835px #fff, 188px 371px #fff, 1995px 1443px #fff, 1172px 1617px #fff,
    1583px 1055px #fff, 1425px 78px #fff, 1757px 1351px #fff, 1886px 301px #fff, 1209px 174px #fff,
    1659px 658px #fff, 82px 316px #fff, 1787px 884px #fff, 1132px 1341px #fff, 668px 84px #fff,
    1102px 1771px #fff, 483px 1004px #fff, 1861px 1871px #fff, 62px 1889px #fff, 52px 185px #fff,
    1041px 1544px #fff, 131px 359px #fff, 928px 61px #fff, 320px 850px #fff, 1595px 259px #fff,
    704px 1055px #fff, 1414px 318px #fff, 624px 1634px #fff, 498px 1408px #fff, 1605px 22px #fff,
    674px 402px #fff, 854px 1269px #fff, 205px 1714px #fff, 37px 342px #fff, 1394px 329px #fff,
    1875px 532px #fff, 1991px 1342px #fff, 1999px 1021px #fff, 1451px 1642px #fff, 1716px 338px #fff,
    1561px 1344px #fff, 674px 177px #fff, 152px 117px #fff, 854px 1500px #fff, 1185px 841px #fff,
    640px 415px #fff, 1758px 705px #fff, 124px 908px #fff, 1340px 429px #fff, 262px 222px #fff,
    1713px 250px #fff, 725px 715px #fff, 885px 638px #fff, 586px 1291px #fff, 716px 1452px #fff,
    292px 1401px #fff, 148px 71px #fff, 1149px 1014px #fff, 1992px 145px #fff, 1384px 105px #fff,
    1821px 1494px #fff, 596px 1042px #fff, 774px 854px #fff, 930px 539px #fff, 1970px 652px #fff,
    1437px 974px #fff, 148px 124px #fff, 1922px 1735px #fff, 1032px 119px #fff, 862px 1220px #fff,
    811px 180px #fff, 1123px 1319px #fff, 1780px 173px #fff, 1352px 402px #fff, 963px 992px #fff,
    1374px 1528px #fff, 626px 1430px #fff, 356px 1313px #fff, 1894px 1375px #fff, 1600px 122px #fff,
    1288px 1539px #fff, 1089px 1446px #fff, 159px 505px #fff, 1132px 183px #fff, 624px 896px #fff,
    828px 1525px #fff, 1655px 1957px #fff, 1710px 1882px #fff, 1787px 1262px #fff, 221px 1487px #fff,
    296px 1132px #fff, 230px 6px #fff, 16px 1860px #fff, 1536px 991px #fff, 1297px 1155px #fff,
    240px 901px #fff, 1511px 789px #fff, 1473px 894px #fff, 1755px 574px #fff, 508px 482px #fff,
    1841px 238px #fff, 487px 167px #fff, 255px 348px #fff, 1642px 1449px #fff, 191px 904px #fff,
    880px 1931px #fff, 1446px 1633px #fff, 1823px 97px #fff, 5px 1503px #fff, 575px 1704px #fff,
    84px 1709px #fff, 765px 15px #fff, 1953px 1225px #fff, 589px 1896px #fff, 770px 1968px #fff,
    1919px 420px #fff, 172px 551px #fff, 1585px 1590px #fff, 1691px 1625px #fff, 1635px 1671px #fff,
    539px 1183px #fff, 334px 1403px #fff, 528px 269px #fff, 1842px 1467px #fff, 898px 494px #fff,
    398px 782px #fff, 370px 1320px #fff, 617px 567px #fff, 1234px 973px #fff, 1328px 1978px #fff,
    1105px 1409px #fff, 1852px 1289px #fff, 1722px 529px #fff, 822px 660px #fff, 1459px 362px #fff,
    1353px 704px #fff, 1239px 517px #fff, 1827px 376px #fff, 882px 634px #fff, 497px 1382px #fff,
    808px 1858px #fff, 449px 904px #fff, 954px 1966px #fff, 1251px 587px #fff, 553px 1814px #fff,
    902px 78px #fff, 183px 1016px #fff, 1826px 662px #fff, 590px 1331px #fff, 1528px 276px #fff,
    1826px 1800px #fff, 77px 155px #fff, 1426px 1336px #fff, 1988px 1091px #fff, 625px 325px #fff,
    697px 1340px #fff, 562px 1043px #fff, 1678px 1012px #fff, 751px 1240px #fff, 435px 1987px #fff,
    1421px 1661px #fff, 1485px 1860px #fff, 1523px 1294px #fff, 848px 1307px #fff, 1568px 217px #fff,
    168px 1206px #fff, 57px 1485px #fff, 1547px 80px #fff, 344px 1147px #fff, 98px 867px #fff,
    87px 1646px #fff, 67px 1086px #fff, 1602px 1111px #fff, 1399px 1538px #fff, 1875px 1771px #fff,
    1458px 334px #fff, 82px 1819px #fff, 248px 1229px #fff, 1616px 241px #fff, 1261px 822px #fff,
    1943px 1077px #fff, 1940px 1402px #fff, 776px 567px #fff, 1635px 67px #fff, 948px 1380px #fff,
    21px 1179px #fff, 560px 1489px #fff, 925px 1187px #fff, 1168px 1745px #fff, 658px 676px #fff,
    498px 100px #fff, 237px 859px #fff, 275px 1060px #fff, 510px 613px #fff, 1969px 1231px #fff,
    1736px 1895px #fff, 897px 6px #fff, 280px 1403px #fff, 1854px 1389px #fff, 263px 401px #fff,
    1431px 1867px #fff, 1576px 739px #fff, 767px 1569px #fff, 1460px 450px #fff, 1455px 915px #fff,
    1790px 759px #fff, 191px 1833px #fff, 1816px 637px #fff, 977px 533px #fff, 1072px 535px #fff,
    889px 624px #fff, 1571px 1969px #fff, 626px 722px #fff, 104px 1106px #fff, 206px 13px #fff,
    1511px 833px #fff, 1987px 1293px #fff, 72px 767px #fff, 1140px 1642px #fff, 572px 1503px #fff,
    1367px 1674px #fff, 662px 278px #fff, 970px 1458px #fff, 731px 279px #fff, 770px 90px #fff,
    1713px 1147px #fff, 736px 1390px #fff, 764px 676px #fff, 1704px 563px #fff, 1444px 1089px #fff,
    771px 192px #fff, 1888px 411px #fff, 983px 248px #fff, 1901px 160px #fff, 1741px 1138px #fff,
    513px 708px #fff, 54px 1093px #fff, 891px 1637px #fff, 268px 583px #fff, 621px 58px #fff,
    1727px 1714px #fff, 1669px 624px #fff, 539px 517px #fff, 1651px 1856px #fff, 1889px 1514px #fff,
    633px 1509px #fff, 1213px 1766px #fff, 824px 1964px #fff, 1318px 460px #fff, 1901px 59px #fff,
    1811px 125px #fff, 1649px 1704px #fff, 1249px 134px #fff, 1541px 509px #fff, 1261px 1443px #fff,
    1396px 490px #fff, 592px 667px #fff, 1245px 1547px #fff, 315px 33px #fff, 1098px 713px #fff,
    1192px 158px #fff, 1743px 215px #fff, 977px 1627px #fff, 320px 854px #fff, 1638px 1153px #fff,
    1184px 1561px #fff, 357px 301px #fff, 1377px 643px #fff, 635px 647px #fff, 968px 185px #fff,
    334px 997px #fff, 819px 565px #fff, 6px 603px #fff, 437px 1055px #fff, 1502px 387px #fff,
    508px 1488px #fff, 1583px 581px #fff, 376px 1881px #fff, 1500px 1003px #fff, 1100px 1991px #fff,
    150px 674px #fff, 260px 1415px #fff;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1390px 712px #fff, 237px 705px #fff, 1532px 125px #fff, 1754px 1869px #fff,
    388px 267px #fff, 849px 1529px #fff, 505px 1193px #fff, 1972px 916px #fff, 81px 1935px #fff,
    117px 543px #fff, 388px 752px #fff, 317px 534px #fff, 1603px 333px #fff, 465px 1450px #fff,
    917px 1621px #fff, 1164px 1919px #fff, 803px 276px #fff, 162px 1397px #fff, 1348px 1575px #fff,
    1530px 1500px #fff, 1101px 313px #fff, 1708px 934px #fff, 1450px 884px #fff, 1916px 108px #fff,
    1571px 1476px #fff, 1750px 584px #fff, 1994px 1462px #fff, 1409px 1974px #fff, 114px 161px #fff,
    903px 776px #fff, 545px 1706px #fff, 360px 991px #fff, 1185px 450px #fff, 1900px 560px #fff,
    49px 1949px #fff, 870px 1711px #fff, 1664px 943px #fff, 1814px 366px #fff, 924px 767px #fff,
    103px 1304px #fff, 1916px 1606px #fff, 1836px 295px #fff, 1107px 232px #fff, 498px 1356px #fff,
    1698px 1550px #fff, 609px 48px #fff, 448px 1342px #fff, 1848px 685px #fff, 564px 1919px #fff,
    244px 1509px #fff, 956px 357px #fff, 1375px 1853px #fff, 1564px 479px #fff, 1635px 1674px #fff,
    150px 1180px #fff, 986px 426px #fff, 1282px 414px #fff, 856px 1915px #fff, 165px 1119px #fff,
    497px 867px #fff, 477px 1263px #fff, 1176px 266px #fff, 507px 1071px #fff, 678px 1599px #fff,
    1144px 1837px #fff, 1513px 1100px #fff, 37px 888px #fff, 482px 1308px #fff, 786px 1631px #fff,
    1785px 202px #fff, 176px 1389px #fff, 391px 174px #fff, 724px 1195px #fff, 422px 1322px #fff,
    1532px 1013px #fff, 1419px 481px #fff, 1783px 1985px #fff, 15px 1043px #fff, 248px 1785px #fff,
    172px 725px #fff, 1068px 1970px #fff, 797px 1388px #fff, 520px 1913px #fff, 1285px 864px #fff,
    75px 1357px #fff, 489px 927px #fff, 1276px 1687px #fff, 1501px 1032px #fff, 724px 1623px #fff,
    1193px 907px #fff, 917px 111px #fff, 1680px 1481px #fff, 1000px 344px #fff, 1183px 1998px #fff,
    36px 955px #fff, 548px 1333px #fff, 1498px 632px #fff, 291px 729px #fff, 362px 1660px #fff,
    143px 447px #fff, 1262px 1832px #fff, 1795px 1815px #fff, 551px 867px #fff, 19px 1294px #fff,
    826px 1433px #fff, 718px 800px #fff, 735px 1093px #fff, 322px 1195px #fff, 1659px 1977px #fff,
    153px 695px #fff, 194px 725px #fff, 689px 995px #fff, 1682px 1393px #fff, 752px 410px #fff,
    746px 369px #fff, 641px 771px #fff, 1991px 772px #fff, 1768px 956px #fff, 411px 173px #fff,
    42px 1608px #fff, 1842px 1624px #fff, 436px 881px #fff, 1873px 140px #fff, 1063px 693px #fff,
    1719px 645px #fff, 523px 1570px #fff, 471px 1046px #fff, 134px 1539px #fff, 1958px 594px #fff,
    510px 839px #fff, 1228px 410px #fff, 216px 1769px #fff, 825px 142px #fff, 1227px 1246px #fff,
    837px 1756px #fff, 577px 76px #fff, 957px 1737px #fff, 1848px 689px #fff, 1216px 1841px #fff,
    132px 860px #fff, 1825px 1668px #fff, 656px 1035px #fff, 440px 11px #fff, 1873px 929px #fff,
    1104px 952px #fff, 430px 1835px #fff, 1250px 1228px #fff, 1537px 332px #fff, 1236px 663px #fff,
    879px 863px #fff, 953px 69px #fff, 1973px 1709px #fff, 1477px 10px #fff, 130px 479px #fff,
    812px 424px #fff, 1262px 1044px #fff, 1282px 1538px #fff, 1800px 1396px #fff, 931px 1959px #fff,
    1400px 85px #fff, 450px 733px #fff, 1946px 231px #fff, 571px 35px #fff, 1403px 1249px #fff,
    314px 1610px #fff, 279px 11px #fff, 948px 355px #fff, 248px 326px #fff, 1683px 1200px #fff,
    1475px 312px #fff, 1866px 1730px #fff, 1666px 54px #fff, 1052px 97px #fff, 1843px 1471px #fff,
    290px 721px #fff, 1648px 1286px #fff, 548px 1755px #fff, 1499px 1756px #fff, 1736px 1422px #fff,
    1981px 1873px #fff, 965px 1490px #fff, 1231px 1211px #fff, 139px 1873px #fff, 1164px 1495px #fff,
    152px 1747px #fff, 820px 1074px #fff, 1597px 197px #fff, 496px 1922px #fff, 786px 1686px #fff,
    1305px 939px #fff, 1665px 1866px #fff, 1418px 1209px #fff, 1874px 478px #fff, 641px 977px #fff,
    1365px 1812px #fff, 1721px 796px #fff, 1098px 931px #fff, 1403px 1302px #fff, 1493px 422px #fff,
    1723px 1417px #fff, 675px 295px #fff, 110px 891px #fff, 368px 1597px #fff, 216px 125px #fff,
    140px 114px #fff, 1942px 718px #fff, 473px 552px #fff, 1065px 918px #fff, 644px 1899px #fff,
    1228px 1340px #fff, 43px 857px #fff, 568px 572px #fff, 792px 1768px #fff, 1458px 879px #fff,
    1868px 476px #fff, 1922px 285px #fff, 1724px 1874px #fff, 975px 1428px #fff, 1202px 238px #fff,
    1852px 1585px #fff, 894px 104px #fff, 865px 1013px #fff, 1855px 153px #fff, 1589px 1696px #fff,
    1954px 1987px #fff, 1982px 1464px #fff, 1682px 1167px #fff, 47px 1338px #fff, 1798px 1037px #fff,
    1871px 227px #fff, 1046px 274px #fff, 1873px 1062px #fff, 195px 1899px #fff, 1611px 1106px #fff,
    972px 538px #fff, 426px 1219px #fff, 52px 566px #fff, 735px 703px #fff, 238px 780px #fff,
    821px 1429px #fff, 301px 1197px #fff, 266px 494px #fff, 1355px 1037px #fff, 84px 1327px #fff,
    1455px 376px #fff, 90px 126px #fff, 339px 683px #fff, 532px 567px #fff, 1135px 764px #fff,
    109px 1300px #fff, 883px 1203px #fff, 1918px 1618px #fff, 1470px 779px #fff, 1804px 808px #fff,
    1568px 350px #fff, 960px 408px #fff, 1038px 521px #fff, 764px 1738px #fff, 1813px 1748px #fff,
    468px 541px #fff, 1208px 75px #fff, 198px 747px #fff, 720px 1526px #fff, 309px 818px #fff,
    1878px 1757px #fff, 1554px 152px #fff, 1920px 664px #fff, 1979px 1412px #fff, 1152px 1329px #fff,
    1237px 829px #fff, 1221px 70px #fff, 1425px 1687px #fff, 430px 736px #fff, 1937px 1160px #fff,
    1569px 1301px #fff, 626px 1015px #fff, 439px 1521px #fff, 1846px 337px #fff, 8px 318px #fff,
    977px 1151px #fff, 43px 1107px #fff, 1795px 1108px #fff, 861px 1274px #fff, 107px 1479px #fff,
    1563px 71px #fff, 1889px 1417px #fff, 1644px 871px #fff, 791px 1140px #fff, 32px 778px #fff,
    1228px 313px #fff, 1675px 1285px #fff, 797px 443px #fff, 1983px 895px #fff, 1702px 1046px #fff,
    206px 1847px #fff, 832px 771px #fff, 1295px 814px #fff, 1376px 1857px #fff, 344px 426px #fff,
    253px 935px #fff, 687px 935px #fff, 1844px 284px #fff, 271px 1181px #fff, 1202px 330px #fff,
    1873px 1612px #fff, 216px 239px #fff, 1280px 579px #fff, 1047px 643px #fff, 1559px 1668px #fff,
    906px 840px #fff, 1061px 1124px #fff, 595px 1198px #fff, 462px 733px #fff, 1325px 1430px #fff,
    1070px 1972px #fff, 1674px 1487px #fff, 215px 218px #fff, 1601px 389px #fff, 1477px 230px #fff,
    545px 83px #fff, 1139px 1967px #fff, 1284px 1573px #fff, 909px 1327px #fff, 1295px 130px #fff,
    33px 186px #fff, 312px 267px #fff, 1232px 651px #fff, 707px 1016px #fff, 1625px 1451px #fff,
    1706px 436px #fff, 964px 1396px #fff, 857px 792px #fff, 1617px 1762px #fff, 341px 1211px #fff,
    335px 145px #fff, 1935px 49px #fff, 1002px 336px #fff, 1788px 1459px #fff, 59px 658px #fff,
    1315px 1126px #fff, 958px 15px #fff, 1685px 1307px #fff, 1622px 430px #fff, 1912px 1600px #fff,
    307px 1244px #fff, 928px 1656px #fff, 1737px 543px #fff, 858px 1685px #fff, 588px 1171px #fff,
    148px 1316px #fff, 458px 1081px #fff, 867px 620px #fff, 1847px 629px #fff, 886px 1123px #fff,
    1002px 1577px #fff, 933px 1987px #fff, 1557px 1612px #fff, 520px 1292px #fff, 1594px 1588px #fff,
    381px 483px #fff, 1270px 1297px #fff, 111px 687px #fff, 1497px 514px #fff, 1540px 1698px #fff,
    1390px 1487px #fff, 273px 791px #fff, 8px 1138px #fff, 1282px 1114px #fff, 1718px 1612px #fff,
    265px 1736px #fff, 1106px 27px #fff, 643px 470px #fff, 508px 1106px #fff, 1373px 953px #fff,
    148px 1891px #fff, 943px 1632px #fff, 1692px 1664px #fff, 372px 267px #fff, 1234px 184px #fff,
    539px 141px #fff, 921px 1305px #fff, 602px 91px #fff, 1615px 1157px #fff, 501px 1317px #fff,
    1492px 245px #fff, 79px 1363px #fff, 1159px 1473px #fff, 582px 147px #fff, 250px 1389px #fff,
    1780px 1074px #fff, 708px 883px #fff, 706px 845px #fff, 610px 772px #fff, 1450px 331px #fff,
    1625px 87px #fff, 609px 126px #fff, 1368px 1086px #fff, 1608px 692px #fff, 795px 1130px #fff,
    176px 291px #fff, 1953px 1816px #fff, 726px 206px #fff, 1420px 1368px #fff, 99px 1354px #fff,
    1795px 1713px #fff, 1098px 374px #fff, 1704px 1473px #fff, 1722px 1589px #fff,
    1863px 1871px #fff, 895px 414px #fff, 1952px 282px #fff, 167px 1845px #fff, 1550px 290px #fff,
    125px 152px #fff, 1446px 539px #fff, 82px 748px #fff, 1780px 1780px #fff, 452px 1179px #fff,
    919px 1144px #fff, 972px 835px #fff, 188px 371px #fff, 1995px 1443px #fff, 1172px 1617px #fff,
    1583px 1055px #fff, 1425px 78px #fff, 1757px 1351px #fff, 1886px 301px #fff, 1209px 174px #fff,
    1659px 658px #fff, 82px 316px #fff, 1787px 884px #fff, 1132px 1341px #fff, 668px 84px #fff,
    1102px 1771px #fff, 483px 1004px #fff, 1861px 1871px #fff, 62px 1889px #fff, 52px 185px #fff,
    1041px 1544px #fff, 131px 359px #fff, 928px 61px #fff, 320px 850px #fff, 1595px 259px #fff,
    704px 1055px #fff, 1414px 318px #fff, 624px 1634px #fff, 498px 1408px #fff, 1605px 22px #fff,
    674px 402px #fff, 854px 1269px #fff, 205px 1714px #fff, 37px 342px #fff, 1394px 329px #fff,
    1875px 532px #fff, 1991px 1342px #fff, 1999px 1021px #fff, 1451px 1642px #fff, 1716px 338px #fff,
    1561px 1344px #fff, 674px 177px #fff, 152px 117px #fff, 854px 1500px #fff, 1185px 841px #fff,
    640px 415px #fff, 1758px 705px #fff, 124px 908px #fff, 1340px 429px #fff, 262px 222px #fff,
    1713px 250px #fff, 725px 715px #fff, 885px 638px #fff, 586px 1291px #fff, 716px 1452px #fff,
    292px 1401px #fff, 148px 71px #fff, 1149px 1014px #fff, 1992px 145px #fff, 1384px 105px #fff,
    1821px 1494px #fff, 596px 1042px #fff, 774px 854px #fff, 930px 539px #fff, 1970px 652px #fff,
    1437px 974px #fff, 148px 124px #fff, 1922px 1735px #fff, 1032px 119px #fff, 862px 1220px #fff,
    811px 180px #fff, 1123px 1319px #fff, 1780px 173px #fff, 1352px 402px #fff, 963px 992px #fff,
    1374px 1528px #fff, 626px 1430px #fff, 356px 1313px #fff, 1894px 1375px #fff, 1600px 122px #fff,
    1288px 1539px #fff, 1089px 1446px #fff, 159px 505px #fff, 1132px 183px #fff, 624px 896px #fff,
    828px 1525px #fff, 1655px 1957px #fff, 1710px 1882px #fff, 1787px 1262px #fff, 221px 1487px #fff,
    296px 1132px #fff, 230px 6px #fff, 16px 1860px #fff, 1536px 991px #fff, 1297px 1155px #fff,
    240px 901px #fff, 1511px 789px #fff, 1473px 894px #fff, 1755px 574px #fff, 508px 482px #fff,
    1841px 238px #fff, 487px 167px #fff, 255px 348px #fff, 1642px 1449px #fff, 191px 904px #fff,
    880px 1931px #fff, 1446px 1633px #fff, 1823px 97px #fff, 5px 1503px #fff, 575px 1704px #fff,
    84px 1709px #fff, 765px 15px #fff, 1953px 1225px #fff, 589px 1896px #fff, 770px 1968px #fff,
    1919px 420px #fff, 172px 551px #fff, 1585px 1590px #fff, 1691px 1625px #fff, 1635px 1671px #fff,
    539px 1183px #fff, 334px 1403px #fff, 528px 269px #fff, 1842px 1467px #fff, 898px 494px #fff,
    398px 782px #fff, 370px 1320px #fff, 617px 567px #fff, 1234px 973px #fff, 1328px 1978px #fff,
    1105px 1409px #fff, 1852px 1289px #fff, 1722px 529px #fff, 822px 660px #fff, 1459px 362px #fff,
    1353px 704px #fff, 1239px 517px #fff, 1827px 376px #fff, 882px 634px #fff, 497px 1382px #fff,
    808px 1858px #fff, 449px 904px #fff, 954px 1966px #fff, 1251px 587px #fff, 553px 1814px #fff,
    902px 78px #fff, 183px 1016px #fff, 1826px 662px #fff, 590px 1331px #fff, 1528px 276px #fff,
    1826px 1800px #fff, 77px 155px #fff, 1426px 1336px #fff, 1988px 1091px #fff, 625px 325px #fff,
    697px 1340px #fff, 562px 1043px #fff, 1678px 1012px #fff, 751px 1240px #fff, 435px 1987px #fff,
    1421px 1661px #fff, 1485px 1860px #fff, 1523px 1294px #fff, 848px 1307px #fff, 1568px 217px #fff,
    168px 1206px #fff, 57px 1485px #fff, 1547px 80px #fff, 344px 1147px #fff, 98px 867px #fff,
    87px 1646px #fff, 67px 1086px #fff, 1602px 1111px #fff, 1399px 1538px #fff, 1875px 1771px #fff,
    1458px 334px #fff, 82px 1819px #fff, 248px 1229px #fff, 1616px 241px #fff, 1261px 822px #fff,
    1943px 1077px #fff, 1940px 1402px #fff, 776px 567px #fff, 1635px 67px #fff, 948px 1380px #fff,
    21px 1179px #fff, 560px 1489px #fff, 925px 1187px #fff, 1168px 1745px #fff, 658px 676px #fff,
    498px 100px #fff, 237px 859px #fff, 275px 1060px #fff, 510px 613px #fff, 1969px 1231px #fff,
    1736px 1895px #fff, 897px 6px #fff, 280px 1403px #fff, 1854px 1389px #fff, 263px 401px #fff,
    1431px 1867px #fff, 1576px 739px #fff, 767px 1569px #fff, 1460px 450px #fff, 1455px 915px #fff,
    1790px 759px #fff, 191px 1833px #fff, 1816px 637px #fff, 977px 533px #fff, 1072px 535px #fff,
    889px 624px #fff, 1571px 1969px #fff, 626px 722px #fff, 104px 1106px #fff, 206px 13px #fff,
    1511px 833px #fff, 1987px 1293px #fff, 72px 767px #fff, 1140px 1642px #fff, 572px 1503px #fff,
    1367px 1674px #fff, 662px 278px #fff, 970px 1458px #fff, 731px 279px #fff, 770px 90px #fff,
    1713px 1147px #fff, 736px 1390px #fff, 764px 676px #fff, 1704px 563px #fff, 1444px 1089px #fff,
    771px 192px #fff, 1888px 411px #fff, 983px 248px #fff, 1901px 160px #fff, 1741px 1138px #fff,
    513px 708px #fff, 54px 1093px #fff, 891px 1637px #fff, 268px 583px #fff, 621px 58px #fff,
    1727px 1714px #fff, 1669px 624px #fff, 539px 517px #fff, 1651px 1856px #fff, 1889px 1514px #fff,
    633px 1509px #fff, 1213px 1766px #fff, 824px 1964px #fff, 1318px 460px #fff, 1901px 59px #fff,
    1811px 125px #fff, 1649px 1704px #fff, 1249px 134px #fff, 1541px 509px #fff, 1261px 1443px #fff,
    1396px 490px #fff, 592px 667px #fff, 1245px 1547px #fff, 315px 33px #fff, 1098px 713px #fff,
    1192px 158px #fff, 1743px 215px #fff, 977px 1627px #fff, 320px 854px #fff, 1638px 1153px #fff,
    1184px 1561px #fff, 357px 301px #fff, 1377px 643px #fff, 635px 647px #fff, 968px 185px #fff,
    334px 997px #fff, 819px 565px #fff, 6px 603px #fff, 437px 1055px #fff, 1502px 387px #fff,
    508px 1488px #fff, 1583px 581px #fff, 376px 1881px #fff, 1500px 1003px #fff, 1100px 1991px #fff,
    150px 674px #fff, 260px 1415px #fff;
}

#stars2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1388px 376px #fff, 185px 722px #fff, 280px 820px #fff, 1297px 1839px #fff,
    1142px 34px #fff, 605px 1559px #fff, 608px 1834px #fff, 1320px 100px #fff, 617px 1704px #fff,
    1221px 1331px #fff, 587px 732px #fff, 1440px 1931px #fff, 1638px 786px #fff, 1936px 186px #fff,
    366px 376px #fff, 308px 1382px #fff, 874px 417px #fff, 1777px 1049px #fff, 1354px 1137px #fff,
    654px 1423px #fff, 576px 1180px #fff, 1392px 1706px #fff, 1634px 437px #fff, 1873px 754px #fff,
    1481px 947px #fff, 1556px 17px #fff, 457px 331px #fff, 1074px 937px #fff, 126px 590px #fff,
    352px 108px #fff, 1135px 1629px #fff, 1007px 36px #fff, 1437px 1782px #fff, 411px 925px #fff,
    559px 1063px #fff, 1649px 1134px #fff, 1690px 498px #fff, 768px 342px #fff, 1642px 302px #fff,
    240px 228px #fff, 851px 1117px #fff, 1610px 117px #fff, 1634px 180px #fff, 977px 30px #fff,
    1103px 694px #fff, 50px 1674px #fff, 243px 1102px #fff, 1715px 1680px #fff, 1286px 974px #fff,
    1670px 1911px #fff, 1357px 1958px #fff, 1337px 1302px #fff, 1939px 447px #fff, 388px 1665px #fff,
    970px 675px #fff, 311px 1825px #fff, 1354px 227px #fff, 1111px 9px #fff, 1411px 1236px #fff,
    713px 1022px #fff, 1716px 1500px #fff, 798px 1849px #fff, 227px 1969px #fff, 642px 668px #fff,
    38px 391px #fff, 384px 1173px #fff, 1951px 997px #fff, 713px 396px #fff, 357px 1986px #fff,
    1618px 532px #fff, 1052px 1673px #fff, 1025px 1674px #fff, 1912px 675px #fff, 1948px 289px #fff,
    1972px 1598px #fff, 1230px 329px #fff, 347px 1987px #fff, 281px 777px #fff, 114px 1126px #fff,
    117px 1601px #fff, 1931px 402px #fff, 821px 1315px #fff, 475px 1147px #fff, 306px 1871px #fff,
    985px 1591px #fff, 641px 664px #fff, 1965px 422px #fff, 126px 861px #fff, 1833px 1688px #fff,
    798px 1235px #fff, 1937px 569px #fff, 1438px 476px #fff, 759px 117px #fff, 1247px 1886px #fff,
    63px 699px #fff, 1484px 1192px #fff, 674px 3px #fff, 1335px 1570px #fff, 613px 455px #fff,
    861px 871px #fff, 71px 550px #fff, 784px 616px #fff, 1319px 575px #fff, 959px 91px #fff,
    339px 983px #fff, 1182px 1175px #fff, 1912px 570px #fff, 1222px 303px #fff, 1354px 828px #fff,
    1244px 1818px #fff, 1372px 335px #fff, 933px 1753px #fff, 1003px 473px #fff, 1234px 1086px #fff,
    215px 158px #fff, 1403px 751px #fff, 1236px 703px #fff, 1550px 1454px #fff, 174px 680px #fff,
    624px 1291px #fff, 7px 1729px #fff, 965px 995px #fff, 1520px 995px #fff, 190px 1667px #fff,
    745px 633px #fff, 294px 1365px #fff, 555px 1084px #fff, 1748px 497px #fff, 1246px 1437px #fff,
    967px 1074px #fff, 1839px 816px #fff, 179px 70px #fff, 175px 172px #fff, 270px 884px #fff,
    173px 1112px #fff, 225px 965px #fff, 1924px 1055px #fff, 200px 83px #fff, 1917px 369px #fff,
    536px 215px #fff, 1565px 1507px #fff, 1372px 546px #fff, 1618px 1540px #fff, 755px 498px #fff,
    684px 81px #fff, 279px 1516px #fff, 1123px 1697px #fff, 1850px 1237px #fff, 549px 801px #fff,
    807px 979px #fff, 1816px 1128px #fff, 648px 428px #fff, 1339px 262px #fff, 1569px 963px #fff,
    443px 960px #fff, 177px 159px #fff, 1913px 1264px #fff, 1330px 530px #fff, 883px 1503px #fff,
    601px 1960px #fff, 568px 69px #fff, 9px 402px #fff, 1952px 520px #fff, 1345px 550px #fff,
    1821px 1240px #fff, 1109px 1870px #fff, 717px 567px #fff, 1971px 156px #fff, 516px 41px #fff,
    1788px 1643px #fff, 678px 1408px #fff, 311px 1754px #fff, 182px 30px #fff, 1775px 965px #fff,
    1155px 1211px #fff, 1712px 1800px #fff, 1464px 595px #fff, 1896px 1376px #fff, 1113px 184px #fff,
    1534px 1708px #fff, 519px 1145px #fff, 1532px 1509px #fff, 900px 531px #fff, 950px 729px #fff,
    1781px 1957px #fff, 1952px 1369px #fff, 646px 402px #fff, 372px 927px #fff, 1851px 518px #fff,
    1064px 1679px #fff, 570px 958px #fff, 1879px 1921px #fff, 1789px 1185px #fff, 1636px 1253px #fff,
    212px 1925px #fff, 1090px 694px #fff, 946px 1755px #fff, 1921px 1433px #fff, 660px 131px #fff,
    1460px 1507px #fff;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1388px 376px #fff, 185px 722px #fff, 280px 820px #fff, 1297px 1839px #fff,
    1142px 34px #fff, 605px 1559px #fff, 608px 1834px #fff, 1320px 100px #fff, 617px 1704px #fff,
    1221px 1331px #fff, 587px 732px #fff, 1440px 1931px #fff, 1638px 786px #fff, 1936px 186px #fff,
    366px 376px #fff, 308px 1382px #fff, 874px 417px #fff, 1777px 1049px #fff, 1354px 1137px #fff,
    654px 1423px #fff, 576px 1180px #fff, 1392px 1706px #fff, 1634px 437px #fff, 1873px 754px #fff,
    1481px 947px #fff, 1556px 17px #fff, 457px 331px #fff, 1074px 937px #fff, 126px 590px #fff,
    352px 108px #fff, 1135px 1629px #fff, 1007px 36px #fff, 1437px 1782px #fff, 411px 925px #fff,
    559px 1063px #fff, 1649px 1134px #fff, 1690px 498px #fff, 768px 342px #fff, 1642px 302px #fff,
    240px 228px #fff, 851px 1117px #fff, 1610px 117px #fff, 1634px 180px #fff, 977px 30px #fff,
    1103px 694px #fff, 50px 1674px #fff, 243px 1102px #fff, 1715px 1680px #fff, 1286px 974px #fff,
    1670px 1911px #fff, 1357px 1958px #fff, 1337px 1302px #fff, 1939px 447px #fff, 388px 1665px #fff,
    970px 675px #fff, 311px 1825px #fff, 1354px 227px #fff, 1111px 9px #fff, 1411px 1236px #fff,
    713px 1022px #fff, 1716px 1500px #fff, 798px 1849px #fff, 227px 1969px #fff, 642px 668px #fff,
    38px 391px #fff, 384px 1173px #fff, 1951px 997px #fff, 713px 396px #fff, 357px 1986px #fff,
    1618px 532px #fff, 1052px 1673px #fff, 1025px 1674px #fff, 1912px 675px #fff, 1948px 289px #fff,
    1972px 1598px #fff, 1230px 329px #fff, 347px 1987px #fff, 281px 777px #fff, 114px 1126px #fff,
    117px 1601px #fff, 1931px 402px #fff, 821px 1315px #fff, 475px 1147px #fff, 306px 1871px #fff,
    985px 1591px #fff, 641px 664px #fff, 1965px 422px #fff, 126px 861px #fff, 1833px 1688px #fff,
    798px 1235px #fff, 1937px 569px #fff, 1438px 476px #fff, 759px 117px #fff, 1247px 1886px #fff,
    63px 699px #fff, 1484px 1192px #fff, 674px 3px #fff, 1335px 1570px #fff, 613px 455px #fff,
    861px 871px #fff, 71px 550px #fff, 784px 616px #fff, 1319px 575px #fff, 959px 91px #fff,
    339px 983px #fff, 1182px 1175px #fff, 1912px 570px #fff, 1222px 303px #fff, 1354px 828px #fff,
    1244px 1818px #fff, 1372px 335px #fff, 933px 1753px #fff, 1003px 473px #fff, 1234px 1086px #fff,
    215px 158px #fff, 1403px 751px #fff, 1236px 703px #fff, 1550px 1454px #fff, 174px 680px #fff,
    624px 1291px #fff, 7px 1729px #fff, 965px 995px #fff, 1520px 995px #fff, 190px 1667px #fff,
    745px 633px #fff, 294px 1365px #fff, 555px 1084px #fff, 1748px 497px #fff, 1246px 1437px #fff,
    967px 1074px #fff, 1839px 816px #fff, 179px 70px #fff, 175px 172px #fff, 270px 884px #fff,
    173px 1112px #fff, 225px 965px #fff, 1924px 1055px #fff, 200px 83px #fff, 1917px 369px #fff,
    536px 215px #fff, 1565px 1507px #fff, 1372px 546px #fff, 1618px 1540px #fff, 755px 498px #fff,
    684px 81px #fff, 279px 1516px #fff, 1123px 1697px #fff, 1850px 1237px #fff, 549px 801px #fff,
    807px 979px #fff, 1816px 1128px #fff, 648px 428px #fff, 1339px 262px #fff, 1569px 963px #fff,
    443px 960px #fff, 177px 159px #fff, 1913px 1264px #fff, 1330px 530px #fff, 883px 1503px #fff,
    601px 1960px #fff, 568px 69px #fff, 9px 402px #fff, 1952px 520px #fff, 1345px 550px #fff,
    1821px 1240px #fff, 1109px 1870px #fff, 717px 567px #fff, 1971px 156px #fff, 516px 41px #fff,
    1788px 1643px #fff, 678px 1408px #fff, 311px 1754px #fff, 182px 30px #fff, 1775px 965px #fff,
    1155px 1211px #fff, 1712px 1800px #fff, 1464px 595px #fff, 1896px 1376px #fff, 1113px 184px #fff,
    1534px 1708px #fff, 519px 1145px #fff, 1532px 1509px #fff, 900px 531px #fff, 950px 729px #fff,
    1781px 1957px #fff, 1952px 1369px #fff, 646px 402px #fff, 372px 927px #fff, 1851px 518px #fff,
    1064px 1679px #fff, 570px 958px #fff, 1879px 1921px #fff, 1789px 1185px #fff, 1636px 1253px #fff,
    212px 1925px #fff, 1090px 694px #fff, 946px 1755px #fff, 1921px 1433px #fff, 660px 131px #fff,
    1460px 1507px #fff;
}

#stars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 472px 910px #fff, 618px 1142px #fff, 485px 506px #fff, 564px 492px #fff,
    1421px 1400px #fff, 466px 1529px #fff, 1185px 1175px #fff, 1283px 1000px #fff, 152px 1248px #fff,
    1667px 531px #fff, 1603px 1878px #fff, 178px 1395px #fff, 945px 1440px #fff, 330px 895px #fff,
    1140px 1523px #fff, 527px 1219px #fff, 1283px 1059px #fff, 727px 1165px #fff, 149px 1100px #fff,
    1328px 1640px #fff, 311px 179px #fff, 901px 163px #fff, 1760px 873px #fff, 296px 1419px #fff,
    1097px 320px #fff, 1860px 810px #fff, 1175px 1323px #fff, 1919px 1021px #fff, 1229px 22px #fff,
    457px 1400px #fff, 1800px 1184px #fff, 1503px 744px #fff, 1906px 1218px #fff, 1599px 941px #fff,
    350px 855px #fff, 1187px 1622px #fff, 314px 914px #fff, 1734px 755px #fff, 690px 248px #fff,
    69px 2000px #fff, 1615px 467px #fff, 366px 600px #fff, 1572px 1877px #fff, 132px 977px #fff,
    1174px 1381px #fff, 302px 1431px #fff, 1027px 216px #fff, 901px 926px #fff, 1673px 275px #fff,
    168px 1712px #fff, 405px 229px #fff, 1902px 1590px #fff, 119px 954px #fff, 627px 1002px #fff,
    1671px 1323px #fff, 820px 773px #fff, 478px 1056px #fff, 767px 668px #fff, 108px 261px #fff,
    316px 538px #fff, 1331px 1819px #fff, 1249px 1683px #fff, 1008px 977px #fff, 32px 666px #fff,
    350px 337px #fff, 72px 1892px #fff, 793px 1339px #fff, 70px 119px #fff, 1266px 938px #fff,
    954px 1019px #fff, 1975px 977px #fff, 1779px 392px #fff, 1407px 577px #fff, 1071px 768px #fff,
    1379px 1825px #fff, 830px 504px #fff, 1735px 1431px #fff, 1907px 1258px #fff, 613px 525px #fff,
    1605px 1590px #fff, 458px 416px #fff, 1027px 480px #fff, 43px 1887px #fff, 758px 1467px #fff,
    828px 822px #fff, 1663px 239px #fff, 257px 56px #fff, 707px 1715px #fff, 1742px 1098px #fff,
    889px 281px #fff, 262px 486px #fff, 768px 639px #fff, 496px 721px #fff, 1812px 338px #fff,
    1024px 1072px #fff, 306px 1045px #fff, 812px 1446px #fff, 102px 669px #fff, 915px 1514px #fff,
    152px 3px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 472px 910px #fff, 618px 1142px #fff, 485px 506px #fff, 564px 492px #fff,
    1421px 1400px #fff, 466px 1529px #fff, 1185px 1175px #fff, 1283px 1000px #fff, 152px 1248px #fff,
    1667px 531px #fff, 1603px 1878px #fff, 178px 1395px #fff, 945px 1440px #fff, 330px 895px #fff,
    1140px 1523px #fff, 527px 1219px #fff, 1283px 1059px #fff, 727px 1165px #fff, 149px 1100px #fff,
    1328px 1640px #fff, 311px 179px #fff, 901px 163px #fff, 1760px 873px #fff, 296px 1419px #fff,
    1097px 320px #fff, 1860px 810px #fff, 1175px 1323px #fff, 1919px 1021px #fff, 1229px 22px #fff,
    457px 1400px #fff, 1800px 1184px #fff, 1503px 744px #fff, 1906px 1218px #fff, 1599px 941px #fff,
    350px 855px #fff, 1187px 1622px #fff, 314px 914px #fff, 1734px 755px #fff, 690px 248px #fff,
    69px 2000px #fff, 1615px 467px #fff, 366px 600px #fff, 1572px 1877px #fff, 132px 977px #fff,
    1174px 1381px #fff, 302px 1431px #fff, 1027px 216px #fff, 901px 926px #fff, 1673px 275px #fff,
    168px 1712px #fff, 405px 229px #fff, 1902px 1590px #fff, 119px 954px #fff, 627px 1002px #fff,
    1671px 1323px #fff, 820px 773px #fff, 478px 1056px #fff, 767px 668px #fff, 108px 261px #fff,
    316px 538px #fff, 1331px 1819px #fff, 1249px 1683px #fff, 1008px 977px #fff, 32px 666px #fff,
    350px 337px #fff, 72px 1892px #fff, 793px 1339px #fff, 70px 119px #fff, 1266px 938px #fff,
    954px 1019px #fff, 1975px 977px #fff, 1779px 392px #fff, 1407px 577px #fff, 1071px 768px #fff,
    1379px 1825px #fff, 830px 504px #fff, 1735px 1431px #fff, 1907px 1258px #fff, 613px 525px #fff,
    1605px 1590px #fff, 458px 416px #fff, 1027px 480px #fff, 43px 1887px #fff, 758px 1467px #fff,
    828px 822px #fff, 1663px 239px #fff, 257px 56px #fff, 707px 1715px #fff, 1742px 1098px #fff,
    889px 281px #fff, 262px 486px #fff, 768px 639px #fff, 496px 721px #fff, 1812px 338px #fff,
    1024px 1072px #fff, 306px 1045px #fff, 812px 1446px #fff, 102px 669px #fff, 915px 1514px #fff,
    152px 3px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
} */
